<mat-card>
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle>
      <mat-spinner *ngIf="isLoading" diameter="20"> </mat-spinner>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-member-search
      [currentOrganization]="currentOrganization"
      (searchEmitter)="onSearchHandler($event)"
    ></app-member-search>
    <mat-divider></mat-divider>
    <app-organization-members
      [members]="currentMembers"
      (viewProfileEmmiter)="viewProfile($event)"
    ></app-organization-members>
  </mat-card-content>
</mat-card>
